<div class="collapse-panel">
    <nz-collapse>
        <nz-collapse-panel id="config.id" 
            [nzHeader]="config.title" 
            [nzActive]="false"
            [nzExtra]="actionsTaskTpl"
            (nzActiveChange)="onActiveChange($event)">
            <nz-spin nzTip="Loading..." [nzSpinning]="isLoading">
                <div class="items-list">
                    <div *ngFor="let item of config.items">
                        <label nz-checkbox id="item.id" [ngModel]="item.isChecked" (ngModelChange)="onCheckboxChange($event, item)" >{{item.description}}</label>
                        <span>
                            <i nz-icon class="setting-icon" nzType="setting" nz-dropdown [nzDropdownMenu]="menu" (click)="$event.stopPropagation()"></i>
                            <nz-dropdown-menu #menu="nzDropdownMenu">
                                <ul nz-menu>
                                    <li nz-menu-item (click)="onMenuDropDownItemAction('edit', item)"><i nz-icon nzType="edit"></i> Edit Item</li>
                                    <li nz-menu-item (click)="onMenuDropDownItemAction('delete', item)"><i nz-icon nzType="delete"></i> Delete Item</li>
                                </ul>
                            </nz-dropdown-menu>
                        </span>
                    </div>
                    
                    <button nz-button nzType="link" (click)="onAddItemAction()">
                        <i nz-icon nzType="plus"></i> Add Item
                    </button>
                </div>
            </nz-spin>
        </nz-collapse-panel>
    </nz-collapse>

    <ng-template #actionsTaskTpl>
        <i nz-icon nzType="more" nz-dropdown [nzDropdownMenu]="menu" (click)="$event.stopPropagation()"></i>
        <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu>
              <li nz-menu-item (click)="onMenuDropDownTaskAction('edit')"><i nz-icon nzType="edit"></i> Edit To-Do</li>
              <li nz-menu-item (click)="onMenuDropDownTaskAction('delete')"><i nz-icon nzType="delete"></i> Delete To-Do</li>
            </ul>
        </nz-dropdown-menu>
    </ng-template>
</div>

<app-modal-form *ngIf="isModalVisible"
    [labelName]="labelNameForm"
    [formData]="formData"
    (eventCloseFormAction)="onEventCloseFormAction()"
    (eventFormAction)="onEventFormAction($event)">
</app-modal-form>